body{
    background-color: rgb(37, 36, 36);
    text-align: center;
}
.level{
    color: rgba(192, 52, 52, 0.877);
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;

}
.change{
    color: wheat;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
}
.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  
